.nav-link {
    color: white !important;
    font-family: alma-light;
}

@media only screen and (min-width: 640px) {
    .navbar {
        justify-content: center !important;
    }

    #arman-nav {
        color: #ebb734 !important;
        font-weight: bolder;
        font-size: 1.1em;
    }

    .nav-link {
        font-size: 1.0em;
    }
  }