.skills {
    padding: 75px 0;
    background-color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}

#underlined {
    background-color: gray;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 100%;
    height: 2px;
    margin-bottom: 75px;
}

.card-zoom-in {
    transition: transform 0.3s;
}

.card-zoom-in:hover {
    transform: scale(1.05);
}

.card {
    margin-bottom: 20px !important;
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.card-row {
    margin-left: auto;
    margin-right: auto;
}

.card-text {
    display: flex;
    flex-direction: column;
}

.card-span {
    padding: 0.5rem;
}

.card-a {
    text-decoration: none !important;
    color: black !important;
    font-weight: 500;
}

.card-icons {
    width: 3em;
}

.card-image {
    width: 3em;
}